p{
  font-size: 1rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Roman';
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Bold';
}

h2 {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Roman';
}

h3 {
  font-size: 2.6rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Bold';
}

h4 {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Bold';
}

h5 {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Bold';
}

h6 {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Roman1';
}

.imgContainer img{
  height: 100%;
}

.imgContainer{
  width: fit-content;
}

.dottedLine {
  content: '';
  position: absolute;
  width: 60%; /* Adjust based on your design */
  height: 0;
  border-top: 0.1rem dashed #fff;
  top: 50%; /* Adjust to position above the range slider */
  left: 49%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Page4.css */
.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 60%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  z-index: 1;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}


