
h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Roman';
}

h2 {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Roman';
}

h3 {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  font-family: 'HelveticaLTPro-Bold';
}

.imgContainer img{
  height: 100%;
}

.imgContainer{
  width: fit-content;
}