p {
  font-size: 1rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Roman";
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Bold";
}

h2 {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Roman";
}

h3 {
  font-size: 2.6rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Bold";
}

h4 {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Bold";
}

h5 {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Bold";
}

h6 {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-family: "HelveticaLTPro-Roman1";
}

.imgContainer img {
  height: 100%;
}

.imgContainer {
  width: fit-content;
}

.dottedLine {
  content: "";
  position: absolute;
  width: 60%; /* Adjust based on your design */
  height: 0;
  border-top: 0.1rem dashed #fff;
  top: 50%; /* Adjust to position above the range slider */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

input[type="range"] {
  -webkit-appearance: none; /* This is necessary to apply custom styles in Chrome */
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* This is necessary to apply custom styles in Chrome */
  height: 2rem;
  cursor: pointer;
}

/* input[type="range"]::-webkit-slider-thumb {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
} */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* This is necessary to apply custom styles in Chrome */
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #ffffff; /* Add a background color so the thumb is visible */
}

input[type="range"] {
  background-color: transparent !important;
}

.dot {
  width: 0.2rem;
  height: 0.2rem;
  background-color: white;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
}
